@use "../../colours" as c;

/*=============================================
=            Generic Selectors            =
=============================================*/

header {
	h1 {
		font-size: 50pt;
		span:nth-child(4n) {
			color: c.$google-yellow;
		}
		span:nth-child(4n + 1) {
			color: c.$google-red;
		}
		span:nth-child(4n + 2) {
			color: c.$google-blue;
		}
		span:nth-child(4n + 3) {
			color: c.$google-green;
		}
	}
    width: 100%;
    padding-bottom: 1.2rem;
    border-bottom: 3px solid c.$ui-dark-grey;
}

/*=============================================
=            Class Selectors            =
=============================================*/
