@use '../../borders' as b;
/*=============================================
=            Generic Selectors            =
=============================================*/


/*=============================================
=            Class Selectors            =
=============================================*/

.book-modal {
    @include b.round-border--light;
    max-width: 30vw;
    padding: 5rem;

    position: fixed;

}



