$ui-black: #1e1e1e;
$ui-dark-grey: #252526;
$ui-grey: #333333;
$ui-light-grey: #858585;
$ui-white: #f7f7f7;
$ui-offwhite: #DFE2ED;

$google-blue: #4285F4;
$google-yellow: #F4B400;
$google-red: #DB4437;
$google-green: #0F9D58;